:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #3ea970;
  --color-background-0: #fff;
  --color-background-10: #f0f0f0;
  --color-background-20: #bfbfbf;
  --color-background-30: #a6a6a6;
  --color-text: #000;
  --box-shadow: rgb(0 0 0 / 20%);
}

[data-theme='dark'] {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #3ea970;
  --color-background-0: #25282e;
  --color-background-10: #31353d;
  --color-background-20: #5e6470;
  --color-background-30: #6c717a;
  --color-text: #fff;
  --box-shadow: rgb(0 0 0 / 30%);
}
